<template>
  <v-container>
    <v-btn @click="logout">Logout: {{ username }}</v-btn>
    <v-text-field v-model="boardname" :rules="boardnameRules" label="Boardname" required> </v-text-field>
    <v-btn v-on:click="createBoard">Create board</v-btn>

    <v-snackbar v-model="snackbar.enabled" :timeout="2000">
      {{ snackbar.text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar.enabled = false">Close</v-btn>
      </template>
    </v-snackbar>

    <v-data-table :headers="headers" :items="boards" :items-per-page="5" class="elevation-1" disable-sort>
      <template v-slot:item="row">
        <tr>
          <td>{{row.item.name}}</td>
          <td>
            <v-btn @click="$router.push('/boards/' + row.item.id)">
              View
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import axios from "axios";
import {bus} from "@/main";

let self
export default {
  name: "Boards",

  data() {
    self = this
    return {
      boards: [],

      boardname: '',
      boardnameRules: [
        v => !!v || 'Board name is required',
      ],
      snackbar: {
        enabled: false,
        text: ''
      },
      headers: [
        {
          text: 'Name',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: '', value: '' },
      ],
      username: ''
    }
  },
  created: function () {
    self.getBoards();
    self.username = localStorage.getItem("username")
  },
  methods: {
    getBoards: () => {
      axios.get('/api/boards', {
        headers: {
          authorization: localStorage.getItem("token")
        },
      })
      .then(response => {
        if (response.status === 200) {
          if (response.data._embedded === undefined) {
            self.boards = [];
          }
          else {
            self.boards = response.data._embedded.boardItemList;
          }
        }
      });
    },
    createBoard: () => {
      axios.post('/api/boards', {
        name: self.boardname,
      }, {
        headers: {
          'Authorization': localStorage.getItem("token")
        }
      }).then(response => {
        if (response.status === 201) {
          self.boardname = '';
          self.getBoards();
        }
      })
    },
    logout() {
      bus.$emit('logout');
    }
  },
}
</script>
