<template>
  <v-container>
    <v-btn @click="logout">Logout: {{ username }}</v-btn>
    <v-btn @click="$router.push('/boards')">Go back to boards</v-btn>

    <h1>{{board.name}}</h1>
    <v-data-table :headers="headers" :items="messages" :items-per-page="5" class="elevation-1" disable-sort>
      <template v-slot:item="row">
        <tr>
          <td>{{row.item.user}}</td>
          <td>{{row.item.message}}</td>
          <td>
            <v-btn v-if="row.item.user === username" @click="getMessage(row.item._links.via.href); editDialog = true">Edit</v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>

    <v-flex align-self-end>
      <v-text-field v-model="message" :rules="messageRules" label="Message" required>
      </v-text-field>
      <v-btn text v-on:click="postMessage">Send</v-btn>
    </v-flex>

    <v-dialog v-model="editDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Edit message</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-text-field v-model="updateMessage" :value="selectedMessage.message" :rules="messageRules"></v-text-field>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="deleteMessage(); editDialog = false">Delete</v-btn>
          <v-btn color="blue darken-1" text @click="editDialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="putMessage(); editDialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from "axios";
import {bus} from "@/main";

let self
export default {
  name: "Board",

  data() {
    self = this
    return {
      board: {
        name: ''
      },
      messages: [],
      headers: [
        {
          text: 'User',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: 'Message', value: 'message' },
        { text: '', value: '' },
      ],
      message: '',
      updateMessage: '',
      messageRules: [
        v => !!v || 'Message is required',
      ],
      editDialog: false,
      selectedMessage: {},
      username: {}
    }
  },
  created() {
    self.getBoard(self.$route.params.id);
    self.username = localStorage.getItem('username');
  },
  methods: {
    getBoard(id) {
      let url = '/api/boards/' + id;
      axios.get(url, {
        headers: {
          authorization: localStorage.getItem("token")
        },
      }).then(response => {
        if (response.status === 200) {
          self.board = response.data;
          self.getMessages();
        }
      });
    },
    getMessages: () => {
      let url = new URL(self.board._links.collection.href).pathname;
      axios.get(url, {
        headers: {
          authorization: localStorage.getItem("token")
        },
      }).then(response => {
        if (response.status === 200) {
          if (response.data._embedded === undefined) {
            self.messages = []
          }
          else {
            self.messages = response.data._embedded.messageItemList.reverse();
          }
        }
      });
    },
    getMessage(url) {
      axios.get(new URL(url).pathname, {
        headers: {
          authorization: localStorage.getItem("token")
        },
      }).then(response => {
        if (response.status === 200) {
          self.selectedMessage = response.data;
          self.updateMessage = self.selectedMessage.message;
        }
      });
    },
    postMessage() {
      let url = new URL(self.board._links.collection.href).pathname;
      axios.post(url, {
        userId: localStorage.getItem('user').split('/').slice(-1)[0],
        message: self.message
      }, {
        headers: {
          authorization: localStorage.getItem("token")
        },
      }).then(response => {
        if (response.status === 201) {
          self.getMessages();
          self.message = '';
        }
      });
    },
    putMessage() {
      let url = new URL(self.selectedMessage._links.self.href).pathname;
      axios.put(url, {
        userId: localStorage.getItem('user').split('/').slice(-1)[0],
        message: self.updateMessage
      }, {
        headers: {
          authorization: localStorage.getItem("token")
        },
      }).then(response => {
        if (response.status === 200) {
          self.getMessages();
        }
      });
    },
    deleteMessage() {
      let url = new URL(self.selectedMessage._links.self.href).pathname;
      axios.delete(url, {
        headers: {
          authorization: localStorage.getItem("token")
        },
      }).then(response => {
        if (response.status === 204) {
          self.getMessages();
        }
      });
    },
    logout() {
      bus.$emit('logout');
    }
  }
}
</script>

<style scoped>

</style>
