<template>
  <v-container>
    <v-form>
      <v-text-field v-model="username" :rules="usernameRules" label="Username" required></v-text-field>
      <v-text-field v-model="password" :rules="passwordRules" label="Password" required type="password" ></v-text-field>
      <v-btn v-on:click="register">Register</v-btn>
      <v-btn v-on:click="login">Login</v-btn>
    </v-form>
    <v-snackbar v-model="snackbar.enabled" :timeout="2000">
      {{ snackbar.text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar.enabled = false">Close</v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>

import axios from "axios";

let self
export default {
  name: 'Home',

  data() {
    self = this
    return {
      username: '',
      password: '',
      usernameRules: [
        v => !!v || 'Username is required',
      ],
      passwordRules: [
        v => !!v || 'Password is required',
      ],
      snackbar: {
        enabled: false,
        text: ''
      }
    }
  },
  created() {
    let authToken = localStorage.getItem("token");
    let user = localStorage.getItem("user");
    self.username = localStorage.getItem("username");
    if (authToken !== null && user !== null && self.username !== null) {
      self.$router.push('boards');
    }
  },
  methods: {
    register: () => {
      axios.post('/api/register', {
        username: self.username,
        password: self.password
      }).then(response => {
        if (response.status === 201) {
          self.snackbar.text = 'Register success!';
        }
        else {
          self.snackbar.text = 'Register failed...';
        }
        self.snackbar.enabled = true;
      });
    },
    login: () => {
      axios.post('/api/login', {
        username: self.username,
        password: self.password
      }).then(response => {
        if (response.status === 200) {
          self.snackbar.text = 'Login success!';
          localStorage.setItem("token", response.headers['authorization']);

          let userUrl = response.data._links.self.href;
          self.loadUser(userUrl);
        }
        else {
          self.snackbar.text = 'Login failed...';
        }
        self.snackbar.enabled = true;
        self.formDisabled = false;
      });
    },
    loadUser: (url) => {
      axios.get(new URL(url).pathname, {
        headers: {
          authorization: localStorage.getItem("token")
        },
      }).then(response => {
        if (response.status === 200) {
          localStorage.setItem("user", response.data._links.self.href);
          localStorage.setItem("username", response.data.username);
          self.$router.push('boards')
        }
      })
    }
  }
}
</script>
