<template>
  <div id="app">
    <v-app>
      <router-view/>
    </v-app>
  </div>
</template>

<script>
//import axios from "axios";
import {bus} from "@/main";

let self
export default {
  name: 'App',

  data() {
    self = this
    return {
      user: null
    }
  },
  computed: {
    username: function() {
      return localStorage.getItem("username");
    }
  },
  created() {
    bus.$on('logout', () => {
      localStorage.removeItem('token');
      localStorage.removeItem('user');
      localStorage.removeItem('username');
      if (self.$route.path !== '/') {
        self.$router.push('/');
      }
    })

    /*
    let authToken = localStorage.getItem("token");
    let user = localStorage.getItem("user");
    let username = localStorage.getItem("username");
    if (authToken === null || user === null || username === null) {
      localStorage.removeItem('token');
      localStorage.removeItem('user');
      localStorage.removeItem('username');
      if (self.$route.path !== '/') {
        self.$router.push('/');
      }
    }
    else {
      self.getUser(user);
    }*/
  },
  methods: {
    /*
    getUser: (url) => {
      axios.get(new URL(url).pathname, {
        headers: {
          authorization: localStorage.getItem("token")
        },
      }).then(response => {
        if (response.status === 200) {
          self.user = response.data.username;
        }
        else if (response.status === 404) {
          localStorage.removeItem('token');
          localStorage.removeItem('user');
          localStorage.removeItem('username');
          self.$router.push('/');
        }
      })
    },
    logout: () => {
      localStorage.removeItem('token');
      localStorage.removeItem('user');
      localStorage.removeItem('username');
      self.$router.push('/');
    }*/
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

